<header class="header">
  <div class="logo">
    <h1>Zaposleni Info</h1>
  </div>
  <div class="navigation" *ngIf="!isLoggedIn">
    <a routerLink="/login" type="button">Login</a>
    <a routerLink="/register" type="button">Register</a>
  </div>
  <div class="" *ngIf="isLoggedIn">
    <a routerLink="/employees" type="button" class="logout-button">Svi zaposleni</a>
  </div>
  <div class="" *ngIf="isLoggedIn">
    <a routerLink="/login" type="button" class="logout-button" >Odeljenja</a>
  </div>
  <div class="col-md-3 text-end" *ngIf="isLoggedIn">
    <a routerLink="/login" type="button" class="logout-button" (click)="logout()">Logout</a>
  </div>
  
</header>
