<header class="header">
  <div class="logo">
    <h1>Zaposleni Info</h1>
  </div>
  <nav class="navigation">
    <ul *ngIf="!user; else loggedInUser">
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/register">Register</a></li>
    </ul>
    <ng-template #loggedInUser>
      <ul *ngIf="user">
        <li>Welcome, {{ user.firstName }}!</li>
        <li>
          <button class="logout-button" (click)="logout()">Logout</button>
        </li>
      </ul>
    </ng-template>
  </nav>
</header>