<div class="employee-card" *ngIf="firstName && lastName">
  <div class="icon-container">
    <mat-icon class="doctor-icon">account_circle</mat-icon>
  </div>
  <div class="info-container">
    <div class="name">{{ firstName }} {{ lastName }}</div>
    <div class="overtimeHours">Broj prekovremenih sati: {{overtimeHours}} </div>
    <div class="overtimeHours">Broj prekovremenih dana: {{overtimeDateCount}} </div>
  </div>
  <app-calendar
    [overtimeDates]="this.overtimeDates"
    [takenLeaveDates]="this.takenLeaveDates"
    [dutyDates]="this.dutyDates"
    [vacationDates]="this.vacationDates"
    [employeeId]="this.employeeId"
  ></app-calendar>
  <button class="close-button" (click)="onDeleteButtonClick()">&times;</button>
</div>
