<div style="padding-top: 70px">
  <div class="button-form-container">
    <button class="circle-button" (click)="toggleForm()">
      <p class="add-employee">Dodaj zaposlenog</p>
    </button>

    <form
      *ngIf="showForm"
      class="employee-form"
      #employeeForm="ngForm"
      (ngSubmit)="onSubmit(employeeForm)"
    >
      <div class="input-group">
        <label for="firstName" class="label">Ime:</label>
        <input
          type="text"
          id="firstName"
          name="firstName"
          [(ngModel)]="employee.firstName"
          required
        />
      </div>
      <div class="input-group">
        <label for="lastName" class="label">Prezime:</label>
        <input
          type="text"
          id="lastName"
          name="lastName"
          [(ngModel)]="employee.lastName"
          required
        />
      </div>
      <div class="input-group">
        <label for="department" class="label">Odeljenje:</label>
        <select
          id="department"
          name="department"
          [(ngModel)]="employee.department"
          required
        >
          <option *ngFor="let dept of departments" [value]="dept.id">
            {{ dept.name }}
          </option>
        </select>
      </div>
      <button type="submit">Dodaj</button>
    </form>
  </div>
  <div class="search-container">
    <input
      type="text"
      placeholder="Pronadjite zaposlenog"
      [(ngModel)]="searchTerm"
      (input)="searchEmployees()"
    />
  </div>
  <div class="employee-list">
    <div
      *ngFor="
        let employee of filteredEmployees.length > 0
          ? filteredEmployees
          : employeesStore
      "
      class="employee-card"
    >
      <app-employee
        [employeeId]="employee.id"
        [firstName]="employee.firstName"
        [lastName]="employee.lastName"
        [overtimeDates]="employee.overtimeDate"
        [takenLeaveDates]="employee.takenLeaveDate"
        [dutyDates]="employee.dutyDate"
        [vacationDates]="employee.vacationDate"
        [serviceOfferings]="employee.serviceOfferings"
      ></app-employee>
    </div>
  </div>
</div>
