<div style="padding-top: 70px" *ngIf="isLoggedIn">
  <div class="container mt-5">
    <div class="text-center mb-4">
      <div style="margin-top: 20px">
        <button class="btn btn-outline-success" (click)="employeesRedirect()">
          Pogledajte zaposlene
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="mb-4">Kratak pregled statistike</h2>
        <div class="card">
          <div class="card-body">
            <p class="card-text">
              Ukupan broj dana godišnjih odmora u poslednjih mesec dana:
              {{ totalVacationDateInLastMonth }}
            </p>
            <p class="card-text">
              Ukupan broj slobodnih dana u poslednjih nedelju dana:
              {{ totalTakenLeaveDatesInLastWeek }}
            </p>
            <p class="card-text">
              Ukupan broj usluga u poslednja 3 dana:
              {{ totalServiceOfferingsInLast2Days }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
