.main-page {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.logo img {
  max-width: 100px;
  height: auto;
}

.tagline {
  font-size: 24px;
  margin-top: 10px;
  color: #333;
}

.hero img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.hero {
  position: relative;
  height: 400px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
}

.hero-circle {
  position: absolute;
  top: 50%;
  right: -50px;
  transform: translateY(-50%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: url("https://blog.vantagecircle.com/content/images/2021/01/Employee-Management-Meaning-Importance-Tips-Tools---More.png")
    no-repeat center center / cover;
}

.hero-content {
  text-align: center;
  color: #fff;
  padding: 20px;
  z-index: 1;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #0056b3;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.cta-button:hover {
  background-color: #fff;
  color: #0056b3;
}
