<ejs-schedule
  height="500px"
  width="1000px"
  [currentView]="setView"
  [eventSettings]="eventSettings"
  [selectedDate]="setDate"
  (popupOpen)="onPopupOpen($event)"
  (actionComplete)="onActionComplete($event)"
  (actionBegin)="onActionBegin($event)"
  (cellClick)="onCellClick($event)"
></ejs-schedule>
<div class="service-info" *ngIf="numberOfServices">
  Broj usluga za taj dan: <span>{{ numberOfServices }}</span>
</div>
<div class="service-info" *ngIf="overtimeHours">
  Broj prekovremenih sati za datum: <span>{{ overtimeHours }}</span>
</div>
